<div class="qr-reader-wrapper">
  <h1> QR Code generator</h1>
  <form [formGroup]="formGroup">
    <mat-form-field class="input-form-field" appearance="fill">
      <mat-label>enter text</mat-label>
      <input type="text" matInput [formControlName]="'qrInput'">
      <div 
        *ngIf="qrInput?.dirty" 
        matSuffix mat-icon-button 
        aria-label="Clear" 
        class="clear-button" 
        (click)="clear()">
        <mat-icon>close</mat-icon>
      </div>
    </mat-form-field>

    <p class="label">choose error correction level<p>
    <mat-button-toggle-group 
      aria-label="ErrorCorrectionLevel"
      [formControlName]="'errorCorrectionLevel'" 
      [value]="errorCorrectionLevel"
    >
      <mat-button-toggle value="L">L</mat-button-toggle>
      <mat-button-toggle value="M">M (Default)</mat-button-toggle>
      <mat-button-toggle value="Q">Q</mat-button-toggle>
      <mat-button-toggle value="H">H</mat-button-toggle>
    </mat-button-toggle-group>
  </form>
    
  <qrcode 
    #qrcode
    [qrdata]="stringToCode" 
    [width]="240" 
    [errorCorrectionLevel]="errorCorrectionLevel"
  ></qrcode>

  <button 
    mat-raised-button 
    color="primary"
    (click)="saveAsImage(qrcode)"
  >Download QR Code Image</button>
</div>